@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

a:hover {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0E0F0F;
  color: #f5f5f5;
}

section {
  padding: 75px 0;
  text-align: center;
  background: #0E0F0F;
}

.container {
  width: 100%;
  display: inherit;
  max-width: 1200px;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  position: fixed;
  background: transparent;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 5;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__title {
  font-size: 19px;
}

.navbar__title::before {
  content: "{";
  color: #048cf4;
}

.navbar__title::after {
  content: "}";
  color: #048cf4;
}

.navbar__links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__link {
  padding-left: 20px;
}

.navbar__link a {
  color: #8e8e8e;
  transition: color 0.3s;
}

.navbar__link a:hover {
  color: #048cf4;
  transition: color 0.3s;
}

.navbar__menu {
  display: none;
  align-items: center;
  font-size: 35px;
}

.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.home__background {
  background-color: #8e8e8e;
  background-image: url(./assets/background.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home__profile {
  height: 200px;
  border-radius: 50%;
  margin: 40px 0;
  filter: contrast(0.93);
  transition: filter 0.3s;
}

.home__profile:hover {
  transition: filter 0.3s;
  filter: grayscale(0);
}

.home__title {
  font-size: 60px;
  text-shadow: 1px 1px #0E0F0F;
  /*color: #048cf4;
  color: #9052d6;*/
  color: #048cf4;
}

.home__title--primary,
.home__title--secondary {
  font-size: 45px;
  color: #f5f5f5;
  text-shadow: 1px 1px #0E0F0F;
}

.home__cv {
  height: 112px;
  margin-top: 25px;
  filter: contrast(0.93);
  transition: filter 0.3s;
}

.home__cv:hover {
  transition: filter 0.3s;
  filter: grayscale(0);
}

.section__title {
  color: #f5f5f5;
  font-size: 35px;
  margin-bottom: 30px;
}

.section__title:after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #048cf4;
  margin: 10px auto 40px;
}

.section__subtitle {
  color: #8e8e8e;
  margin-bottom: 20px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about__description {
  text-align: left;
  color: #8e8e8e;
  padding-right: 80px;
  line-height: 40px;
}

.about__summary {
  margin: 30px 0;
}

.about__description span {
  color: #f5f5f5;
}

.about__description h2, h3 {
  color: #f5f5f5;
  margin: 20px 0;
}

.about__description p {
  margin-top: -5px;
}

.about__skills_title{
  text-align: left;
}

.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 24px 0;
}

.skill__title {
  color: #8e8e8e;
  grid-column: span 3;
  text-align: left;
}

.skill__item {
  background: #191919;
  font-size: 50px;
  color: #8e8e8e;
  padding: 25px;
  
  transition: all 0.3s;
  min-width: 130px;
  text-align: center;
}

.skill__item:hover {
  color: #f5f5f5;
  
  transition: all 0.3s;
}

.skill__name {
  font-size: 14px;
  text-align: center;
}

.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services__item {
  padding: 20px;
  background: #191919;
  border-bottom: 5px solid transparent;
  transition: border 0.3s;
}

.services__item:hover {
  transition: border 0.3s;
  border-bottom: 5px solid #48a1e6;
}

.services__item:hover i {
  transition: all 0.3s;
  color: #48a1e6;
}

.services__item i {
  transition: all 0.3s;
  font-size: 40px;
  margin: 20px 0;
  color: #8e8e8e;
}

.services__item h3 {
  margin-bottom: 15px;
}

.services__item p {
  color: #8e8e8e;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.portfolio__item {
  background: white;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  font-size: 14px;
}

.portfolio__img {
  width: 101%;
  height: 101%;
  object-fit: cover;
  display: block;
  transition: all 1s;
}

.portfolio__description {
  padding: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 300px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__item:hover .portfolio__description {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(-300px);
}

.portfolio__item:hover .portfolio__img {
  transition: all 1s;
  transform: scale(1.3);
}

.portfolio__description--title {
  color: #048cf4;
}

.portfolio__description--text {
  margin: 20px 0;
}

.buttons__container {
  display: flex;
  margin-top: 150px;
}

.button {
  background: #191919;
  color: #f5f5f5;
  padding: 5px 10px;
  display: inline-block;
  margin: auto;
}

.button:hover {
  color: #048cf4;
}

.button--cta {
  font-size: 14px;
  background: #048cf4;
  color: #0E0F0F;
  display: inline-block;
  width: 93px;
  margin-top: -14px;
  text-align: center;
}

.button--cta i {
  margin-right: 10px;
}

.button--cta:hover {
  background: #52aff7;
  color: #191919;
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.contact__item {
  background: #191919;
  color: #8e8e8e;
  padding: 50px;
  border-radius: 10px;
  transition: all 0.3s;
}

.contact__item i {
  font-size: 50px;
  margin-bottom: 10px;
}

.contact__item:hover i {
  text-shadow: 3px 3px #0E0F0F;
}

.contact__item:hover {
  transition: all 0.3s;
  color: #f5f5f5;
  text-shadow: 2px 2px #0E0F0F;
  filter: contrast(0.95);
}

.active a {
  color: #f5f5f5;
}

.footer {
  color: #8e8e8e;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #8e8e8e;
}

.footer a:hover {
  color: #f5f5f5;
}

.home__title-btn-get-started .fa-arrow-circle-down {
  font-size: 40px;
  border-radius: 50px;
  margin-top: 50px;
  padding: 10px;
}

.home__title--nombre{
  color: #80c5af;
  font-weight: bold;
  /*content: "nahuel";*/ 
}

.home {
  flex-direction: column;
}

#yearsOfExperience {
  display: inline-flex;
}

#yearsOfExperience p {
  margin-left: 4px;
  margin-top: -10px;
}

.cv-thumb {
  width: 250px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cv-thumb:hover {
  transform: scale(1.03);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
